{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/eb75260fb3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
    integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
    integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>OBUOBA RADIO</title>
  <link rel="stylesheet" href="{% static 'base.css' %}">
  {% block css %}

  {% endblock css %}
  <style>
    #tag {
      display: flex;
      gap: 0 1rem;
      align-items: center;
      z-index: 100;
    }

    #tag div small {
      background: white;
    }
  </style>
  <script>
    const setMaxHeight = () => {
      const vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`);
    }
    setMaxHeight();

    window.addEventListener('resize', setMaxHeight);
  </script>
</head>

<body>
  <section class="mobile_nav">
    <a href="{% url 'homepage' %}">
      <img src="https://res.cloudinary.com/dvnemzw0z/image/upload/v1692289104/logo_2_nxwecd.png" alt="">
    </a>
    <p>
      <span>OBUOBA FM</span>
      <a href="tel:+233531387554" style="color: wheat;"><i class="material-symbols-outlined"
          style="font-size: 0.8rem;">phone</i> 053 138
        7554</a>
    </p>
  </section>

  <section class="top_nav">
    <button class="material-symbols-outlined" style="cursor: pointer;" onclick="toggleSideBar()">menu</button>
    <div class="left">
      <small>Follow Us On</small>
      <hr style="width: 80px; border-top: 2px solid darkgray;">
      <div>
        <a class="fa-brands fa-instagram"></a>
        <a class="fa-brands fa-facebook"></a>
        <a class="fa-brands fa-twitter"></a>
        <a class="fa-brands fa-tiktok"></a>
      </div>
    </div>

    <div class="player">
      <p>
        <span>{{program.name}}</span>
        <small>{{program.start_date|date:'G:i'}} - {{program.end_date|date:'G:i'}}</small>
      </p>
      <button class="material-symbols-outlined play_btn" id="paused">play_arrow</button>
      <audio muted style="display: none;" id="radio_track">
        <source src="https://dc4.serverse.com/proxy/vlauavyv/stream" type="audio/mpeg">
      </audio>
    </div>
    <div class="right">
      <input type="text" placeholder="Search">
      <i class="material-symbols-outlined">search</i>
    </div>
  </section>

  <section class="page">
    {% include "sideBar.html" %}

    <section class="main">
      {% block main %}

      {% endblock main %}

      <section class="loader" tabindex="0">
        <div></div>
        <div></div>
        <div></div>
      </section>
    </section>
    {% include "panel.html" %}
  </section>

  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href)
    }

    const loader = document.querySelector('.loader')
    const loaderAnime =
      anime({
        begin: () => {
          loader.style.display = 'flex';
        },
        loop: true,
        targets: '.loader div',
        opacity: [0, 1],
        scale: [0.2, 1],
      })

    loaderAnime.pause()

    const runAxios = (url, data) => {
      axios.post(`${window.location.origin}/${url}`, {
        data: data
      },
        { headers: { 'X-CSRFToken': '{{token}}' } }
      )
        .then(response => handleData(response.data))
        .catch(error => console.log(error))
    }

    getTimeLeft = (target_date) => {
      var new_today = new Date()
      var timeLeft = target_date - new_today;
      var daysLeft = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
      if (daysLeft < 10) {
        daysLeft = `0${daysLeft}`
      }
      var hoursLeft = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      if (hoursLeft < 10) {
        hoursLeft = `0${hoursLeft}`
      }
      var minutesLeft = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
      if (minutesLeft < 10) {
        minutesLeft = `0${minutesLeft}`
      }
      var secondsLeft = Math.floor((timeLeft % (1000 * 60)) / 1000);
      if (secondsLeft < 10) {
        secondsLeft = `0${secondsLeft}`
      }

      let countdown = ''
      if (timeLeft > 0) {
        if (daysLeft > 0) {
          countdown = `${daysLeft} : ${hoursLeft} : ${minutesLeft} : ${secondsLeft}`
        } else {
          countdown = `${hoursLeft} : ${minutesLeft} : ${secondsLeft}`
        }
      } else {
        countdown = '00:00'
      }

      return countdown
    }
  </script>

  {% block js %}

  {% endblock js %}

  <script>
    var today = new Date()
    var program_start_date = new Date('{{program.start_date|date:"c"}}')
    var program_end_date = new Date('{{program.end_date|date:"c"}}')
    const cur_tags = document.querySelectorAll('.cur_tag')

    if (today > program_end_date) {
      runAxios('schedule_program', '{{program.id}}')
    } else if (today >= program_start_date && program_end_date >= today) {
      cur_tags.forEach((el) => {
        el.children[0].innerHTML = 'On Air'
      })
      setInterval(() => {
        var today = new Date()

        var totalTime = program_end_date - program_start_date
        var timeLeft = program_end_date - today
        var progress_val = 100 - ((timeLeft * 100) / totalTime)
        progress_box_bars_smalls.forEach((set) => {
          [...set.children].forEach((el, i) => {
            var bars_count = set.children.length
            var progress_count = (progress_val / 100) * bars_count
            if (i <= progress_count) {
              el.style.background = 'orange'
            }
          })
        })
      }, 100)
    } else if (program_start_date > today) {
      setInterval(() => {
        cur_tags.forEach((el) => {
          el.children[0].innerHTML = getTimeLeft(program_start_date)
        })
      }, 500)
    }
  </script>

  <script>
    const progress_box_bars_set = document.querySelectorAll('.progress_box .graph')

    progress_box_bars_set.forEach((progress_box_bars) => {
      for (var i = 0; i < 20; i++) {
        var small_bar = document.createElement('small')
        if (i % 4 === 0) {
          small_bar.classList.add('s1')
          small_bar.style.height = '15px'
        } else if (i % 4 === 1) {
          small_bar.classList.add('s2')
          small_bar.style.height = '10px'
        } else if (i % 4 === 2) {
          small_bar.classList.add('s3')
          small_bar.style.height = '20px'
        } else if (i % 4 === 3) {
          small_bar.classList.add('s4')
          small_bar.style.height = '5px'
        }
        progress_box_bars.appendChild(small_bar)
      }
    })

    const progress_box_bars_smalls = document.querySelectorAll('.progress_box .graph')
    progress_box_bars_smalls.forEach((set) => {
      [...set.children].forEach((el, i) => {
        var el_start = el.style.height
        var el_end = '10px'
        anime({
          loop: true,
          targets: el,
          scale: [0.5, 1],
          delay: i * 5,
        })
      })
    })

    document.querySelectorAll('.bars').forEach((bar, i) => {
      [...bar.children].forEach((el, i) => {
        anime({
          loop: true,
          targets: el,
          scale: [0, 1],
          opacity: [0.5, 1],
          duration: 2000,
          delay: 50 * i,
          height: [15, 25, 15, 20, 25],
        })
      })
    })
  </script>

  <script>
    const play_btns = document.querySelectorAll('.play_btn')
    const radio_track = document.getElementById('radio_track')
    play_btns.forEach((el) => {
      el.onclick = () => {
        if (el.id === 'paused') {
          play_btns.forEach((play) => {
            play.id = 'playing'
            play.innerHTML = 'stop'
            radio_track.play()
            radio_track.muted = false
            document.querySelectorAll('.bars').forEach((bar, i) => {
              [...bar.children].forEach((mini_bar, i) => {
                mini_bar.style.background = 'orange'
              })
            })
          })
        } else {
          play_btns.forEach((play) => {
            play.id = 'paused'
            play.innerHTML = 'play_arrow'
            radio_track.pause()
            radio_track.muted = true
            document.querySelectorAll('.bars').forEach((bar, i) => {
              console.log(bar,i);
              [...bar.children].forEach((mini_bar, ii) => {
                if(i === 2 || i === 0){
                  mini_bar.style.background = 'white';
                }else if (i === 3 || i === 1) {
                  mini_bar.style.background = '#6C6CFE';
                }
              })
            })
          })
        }
      }
    })
  </script>

</body>

</html>