{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'listener/home.css' %}">
{% endblock css %}


{% block main %}
<section class="main_player">
  <div class="card">
    <div id="tag" class="cur_tag">
      <span></span>
      <div class="bars" style="position: revert;">
        <small></small>
        <small></small>
        <small></small>
        <small></small>
      </div>
    </div>

    <img src="{{program.image.url}}" alt="">
    <p>
      <span><i class="material-symbols-outlined">radio</i> <small>{{program.name}}</small></span>
      <span><i class="material-symbols-outlined">schedule</i> <small>{{program.start_date|date:'G:i'}} -
          {{program.end_date|date:'G:i'}}</small></span>
      <button class="material-symbols-outlined">play_arrow</button>
    </p>

    <div class="bars">
      <small></small>
      <small></small>
      <small></small>
      <small></small>
    </div>
  </div>
</section>

<div class="divider">
  <span>News Updates</span>
  <hr style="width: 100%; border-top: 2px solid darkgray;">
</div>

<section class="top_swiper swiper">
  <div class="swiper-wrapper">
    {% for post in posts_rev %}
    <div class="swiper-slide">
      <a href="{% url 'view_post_page' post.slug %}" style="background-image: url({{post.image.url}});">
        <p>{{post.title}}</p>
      </a>
    </div>
    {% endfor %}
  </div>
  <button class="material-symbols-outlined top_swiper_prev">chevron_left</button>
  <button class="material-symbols-outlined top_swiper_next">chevron_right</button>
</section>

<section class="news_box">
  {% for post in posts %}
  <section class="news" data-link="{{post.slug}}">
    <p>
      <span style="font-size: 0.9rem;">{{post.date_added|timesince}} ago</span>
      <span>
        <i class="material-symbols-outlined">steppers</i>{{post.category}}
      </span>
    </p>
    <h3>
      {{post.title}}
    </h3>
    <div class="tag_box" data-tags="{{post.tags}}">
    </div>
    <div class="img_box">
      {% if post.type == 'image' %}
      <img src="{{post.image.url}}">
      {% else %}
      <video src="{{post.video.url}}" muted controls></video>
      {% endif %}
      <small style="color: rgb(107, 107, 107);">Source : {{post.source}}</small>
      <p style="color: black;">{{post.content}}</p>
      <nav>
        <a href="view_news.html" class="fa-brands fa-facebook-f"></a>
        <a class="fa-brands fa-twitter"></a>
        <a class="fa-brands fa-whatsapp"></a>
        <a class="fa-brands fa-linkedin"></a>
        <a class="fa-brands fa-google"></a>
      </nav>
    </div>
  </section>

  {% endfor %}

  <script>
    const news_box = document.querySelector('.news_box')

    const tag_boxes = document.querySelectorAll('.tag_box')

    tag_boxes.forEach((tag_box) => {
      let tags = tag_box.dataset.tags.split(',')
      tags.forEach((el, i) => {
        if (i < 3) {
          var small_tag = document.createElement('small')
          small_tag.innerHTML = el
          tag_box.appendChild(small_tag)
        }
      })
    })
  </script>

  <script>
    const fixAdBox = (news_box) => {
      [...news_box.children].forEach((el, i) => {
        if ((i + 1) % 3 === 0) {
          var test_ad = document.createElement('section')
          test_ad.classList.add('ad')
          var parentBox = el.parentNode
          parentBox.insertBefore(test_ad, el)
        }
      })
    }

    fixAdBox(document.querySelector('.news_box'))
  </script>
</section>
{% endblock main %}


{% block js %}
<script>
  const top_swiper_next = document.querySelector('.top_swiper_next')
  const top_swiper_prev = document.querySelector('.top_swiper_prev')

  const makeTopSwiper = (min) => {
    var top_swiper = new Swiper('.top_swiper', {
      loop: false,
      slidesPerView: 2,
      spaceBetween: 10,
      navigation: {
        nextEl: top_swiper_next,
        prevEl: top_swiper_prev
      }
    })
  }
  makeTopSwiper()

  document.querySelector('.top_swiper').onmouseenter = () => {
    top_swiper_next.classList.add('change')
    top_swiper_prev.classList.add('change')
  }
  document.querySelector('.top_swiper').onmouseleave = () => {
    top_swiper_next.classList.remove('change')
    top_swiper_prev.classList.remove('change')
  }
</script>
<script>

  const setNewsLink = (news) => {
    news.forEach((el) => {
      el.onclick = () => {
        window.location.href = `view_post/${el.dataset.link}`
      }
    })
  }
  setNewsLink(document.querySelectorAll('.news'))


  const oneVideo = (videos) => {
    videos.forEach((el, i) => {
      el.onplay = () => {
        videos.forEach((bel, ii) => {
          if (i != ii) {
            bel.pause()
          }
        })
      }
    })
  }
  oneVideo(document.querySelectorAll('.news video'))
</script>


<script>
  const page = document.querySelector('.page')


  const handleScrolls = () => {
    if (window.innerWidth > 650) {
      window.onscroll = () => {
        checkWindowEnd()
      }
    } else {
      page.onscroll = () => {
        checkPageEnd()
      };
    }
  }
  handleScrolls()


  const checkWindowEnd = () => {
    const documentHeight = document.documentElement.scrollHeight;
    const viewportHeight = window.innerHeight;
    const scrollPosition = window.scrollY || window.pageYOffset;

    if (scrollPosition + viewportHeight >= documentHeight) {
      console.log("Window end reached!");
      loaderAnime.play()
      var news_count = document.querySelectorAll('.news').length
      runAxios('more_posts', news_count)
      console.log(news_box)
    }
  }

  const checkPageEnd = () => {
    const divHeight = page.scrollHeight;
    const divScrollPosition = page.scrollTop;

    if (divScrollPosition + page.clientHeight >= divHeight) {
      console.log("Div end reached!");
      loaderAnime.play()
      var news_count = document.querySelectorAll('.news').length
      runAxios('more_posts', news_count)
    }
  }
</script>
<script>
  const handleData = (data) => {
    let more_prog = JSON.parse(data.test)
    news_box.innerHTML = ''
    more_prog.forEach((post) => {
      if (post.type == 'image') {
        var media_obj = `<img src="${post.media_url}">`
      } else {
        var media_obj = `<video src="${post.media_url}" controls muted></video>`
      }

      news_box.innerHTML += `
          <section class="news" data-link="${post.slug}">
            <p>
              <span style="font-size: 0.9rem;">${post.time_since} ago</span>
              <span>
                <i class="material-symbols-outlined">steppers</i>${post.category}
              </span>
            </p>
            <h3>
              ${post.title}
            </h3>
            <div class="tag_box" data-tags="${post.tags}">
            </div>
            <div class="img_box">
              ${media_obj}
              <small style="color: rgb(107, 107, 107);">Source : ${post.source}</small>
              <p style="color: black;">${post.content}</p>
              <nav>
                <a href="view_news.html" class="fa-brands fa-facebook-f"></a>
                <a class="fa-brands fa-twitter"></a>
                <a class="fa-brands fa-whatsapp"></a>
                <a class="fa-brands fa-linkedin"></a>
                <a class="fa-brands fa-google"></a>
              </nav>
            </div>
          </section>
          `
    })
    setNewsLink(document.querySelectorAll('.news'))
    oneVideo(document.querySelectorAll('.news video'))
    fixAdBox(document.querySelector('.news_box'))
  }
</script>


{% endblock js %}