{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'listener/home.css' %}">
{% endblock css %}

{% block main %}
<section class="news_box">
  <section class="news" data-link="{{post.slug}}">
    <p>
      <span> <i class="material-symbols-outlined">schedule</i> {{program.start_date|date:'G:i'}} -
        {{program.end_date|date:'G:i'}}</span>
      <span>
        <i class="material-symbols-outlined">radio</i>
      </span>
    </p>
    <h3>
      {{program.name}}
    </h3>
    <p>
      <span> <i class="material-symbols-outlined">person</i> {{program.host}}</span>
    </p>
    <div class="tag_box" data-tags="{{post.tags}}">
    </div>
    <div class="img_box">
      <img src="{{program.image.url}}" alt="">
      <small
        style="padding: 0;font-size: 1.3rem; width: max-content;">Description :</small>
      <p style="color: black; padding: 0;">{{program.description}}</p>
    </div>
  </section>
</section>

<section class="related_box">
  <h3>Other Programs</h3>
  <section class="relateds">
    {% for related in relateds %}
    <a href="{% url 'view_program_page' related.id %}" class="mini_news">
      <img src="{{related.image.url}}" alt="">
      <span>
        <i class="material-symbols-outlined">radio</i> {{related.name}}
      </span>
      <hr style="width: 100px; border-top: 1px solid rgb(76, 76, 76);">
      <span>
        <i class="material-symbols-outlined">person</i> {{related.host}}
      </span>
    </a>
    {% endfor %}
  </section>
</section>

<style>
  .main {
    align-items: center;
  }

  .related_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem 0;
  }

  .related_box h3 {
    font-size: 1.3rem;
    font-weight: 400;
    border-bottom: 2px solid darkgray
  }

  .relateds {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .mini_news{
    gap: 0.2rem 0;
  }
  .mini_news span{
    display: flex;
    gap: 0 0.5rem;
    align-items: center;
  }

  .mini_news {
    display: flex;
    flex-direction: column;

    border: 1px solid darkgray;
    padding: 10px;
    border-radius: 10px;
    color: black;
  }

  .mini_news img,
  video {
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-radius: 10px;
    aspect-ratio: 4/3;
    object-fit: cover;
  }

  .mini_news small {
    max-height: 80px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;

  }

  @media all and (max-width:500px) {
    .relateds {
      grid-template-columns: 1fr;
    }
  }
</style>
{% endblock main %}


{% block js %}

<script>
  const tag_box = document.querySelector('.tag_box')

  let tags = tag_box.dataset.tags.split(',')
  tags.forEach((el, i) => {
    if (i < 3) {
      var small_tag = document.createElement('small')
      small_tag.innerHTML = el
      tag_box.appendChild(small_tag)
    }
  })
</script>
{% endblock js %}